In [28]:
%matplotlib inline
import pandas as pd
titles=pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# How many movies are listed in the titles dataframe?

In [3]:
import pandas as pd
number_of_movies = titles.shape[0]
print(f"There are {number_of_movies} movies in the dataframe.")

There are 244914 movies in the dataframe.

# What are the earliest two films listed in the titles dataframe?

In [4]:
import pandas as pd
titles=pd.read_csv('titles.csv')
titles.head()
titles.describe()

                year
count  244914.000000
mean     1986.616012
std        29.459912
min      1894.000000
25%      1967.000000
50%      1997.000000
75%      2012.000000
max      2115.000000

In [5]:
titles.shape

(244914, 2)

In [6]:
import pandas as pd
titles_sorted_by_year = titles.sort_values(by='year')
earliest_films = titles_sorted_by_year.head(2)

print("The earliest two films listed are:")
print(earliest_films)

The earliest two films listed are:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# How many movies have the title "Hamlet"?

In [7]:
import pandas as pd
titles=pd.read_csv('titles.csv')
hamlet_movies_count = titles[titles['title'] == 'Hamlet'].shape[0]

print(f"The number of movies with the title 'Hamlet' is: {hamlet_movies_count}")

The number of movies with the title 'Hamlet' is: 20

# How many movies are titled "North by Northwest"?

In [8]:
import pandas as pd

# Assuming you have a dataframe called 'titles' with a 'title' column
# Count the number of movies with the title "North by Northwest"
north_by_northwest_count = titles[titles['title'] == 'North by Northwest'].shape[0]

print(f"The number of movies titled 'North by Northwest' is: {north_by_northwest_count}")

The number of movies titled 'North by Northwest' is: 1

# When was the first movie titled "Hamlet" made?

In [9]:
import pandas as pd
hamlet_movies = titles[titles['title'] == 'Hamlet']
hamlet_movies_sorted = hamlet_movies.sort_values(by='year')
first_hamlet_movie = hamlet_movies_sorted.iloc[0]

print(f"The first movie titled 'Hamlet' was made in the year {first_hamlet_movie['year']}.")

The first movie titled 'Hamlet' was made in the year 1910.

# List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
import pandas as pd
Treasure_island_movies = titles[titles['title'] == 'Treasure Island']
titles_sorted_by_year = titles.sort_values(by='year')
earliest_films = titles_sorted_by_year.head(1)
recent_films = titles_sorted_by_year.tail(1)
print("The earliest films listed are:")
print(earliest_films)
print("The recentfilms listed are:")
print(recent_films)

The earliest films listed are:
             title  year
193222  Miss Jerry  1894
The recentfilms listed are:
            title  year
242196  100 Years  2115

In [11]:
import pandas as pd
treasure_island_movies = titles[titles['title'] == 'Treasure Island']

treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')
print(treasure_island_movies_sorted)

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# How many movies were made in the year 1950?

In [12]:
import pandas as pd
movies_in_1950 = titles[titles['year'] == 1950]
number_of_movies_in_1950 = movies_in_1950.shape[0]

print(f"The number of movies made in the year 1950 is: {number_of_movies_in_1950}")

The number of movies made in the year 1950 is: 1113

# How many movies were made in the year 1960

In [ ]:
import pandas as pd
movies_in_1950 = titles[titles['year'] == 1960]
number_of_movies_in_1950 = movies_in_1950.shape[0]

print(f"The number of movies made in the year 1950 is: {number_of_movies_in_1950}")

# How many movies were made from 1950 through 1959

In [13]:
import pandas as pd
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

number_of_movies_in_1950s = movies_1950s.shape[0]

print(f"The number of movies made from 1950 through 1959 is: {number_of_movies_in_1950s}")

The number of movies made from 1950 through 1959 is: 12934

# In what years has a movie titled "Batman" been released?

In [14]:
import pandas as pd
batman_movies = titles[titles['title'] == 'Batman']
release_years = batman_movies['year'].unique()

print("Years in which a movie titled 'Batman' has been released:")
print(sorted(release_years))

Years in which a movie titled 'Batman' has been released:
[1943, 1989]

# How many roles were there in the movie "Inception"?

In [1]:
import pandas as pd
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [26]:
import pandas as pd

# Assuming you have a dataframe called 'cast' with 'title' and 'character' columns
# Filter the dataframe to include only the movie "Inception"
inception_cast = cast[cast['title'] == 'Inception']

# Count the number of unique roles in the movie "Inception"
number_of_roles_in_inception = inception_cast['character'].nunique()

print(f"The number of roles in the movie 'Inception' is: {number_of_roles_in_inception}")

The number of roles in the movie 'Inception' is: 56

# How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [4]:
import pandas as pd
inception_cast = cast[cast['title'] == 'Inception']
roles_not_ranked = inception_cast['n'].isna().sum()

print(f"The number of roles in the movie 'Inception' that are NOT ranked by an 'n' value is: {roles_not_ranked}")

The number of roles in the movie 'Inception' that are NOT ranked by an 'n' value is: 27

# But how many roles in the movie "Inception" did receive an "n" value?

In [5]:
import pandas as pd
inception_cast = cast[cast['title'] == 'Inception']

roles_with_n_value = inception_cast['n'].notna().sum()

print(f"The number of roles in the movie 'Inception' that received an 'n' value is: {roles_with_n_value}")

The number of roles in the movie 'Inception' that received an 'n' value is: 51

# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [7]:
import pandas as pd
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & cast['n'].notna()]
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print(north_by_northwest_cast_sorted[['character', 'n']])

                           character     n
871426            Roger O. Thornhill   1.0
3518333                  Eve Kendall   2.0
1457165              Phillip Vandamm   3.0
3157232              Clara Thornhill   4.0
356707                 The Professor   5.0
3048272                Mrs. Townsend   6.0
1695173              Lester Townsend   7.0
1275337                      Leonard   8.0
2447081                     Valerian   9.0
1811387              Victor Larrabee  10.0
665768                         Licht  11.0
2295714                   Auctioneer  12.0
464736                     Dr. Cross  13.0
1508344               Sergeant Flamm  14.0
206471                Captain Junket  15.0
1384780  Charley - Chicago Policeman  16.0

# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [8]:
import pandas as pd
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & cast['n'].notna()]
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')
print(sleuth_1972_cast_sorted[['character', 'n']])

                          character    n
1705394                 Andrew Wyke  1.0
326773                  Milo Tindle  2.0
373876            Inspector Doppler  3.0
1465483  Detective Sergeant Tarrant  4.0
2724553             Marguerite Wyke  5.0
1448690      Police Constable Higgs  6.0

# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth"

In [9]:
import pandas as pd
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007) & cast['n'].notna()]
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')
print(sleuth_2007_cast_sorted[['character', 'n']])

           character    n
326774        Andrew  1.0
1293634         Milo  2.0
1805907  Man on T.V.  3.0

# How many roles were credited in the silent 1921 version of Hamlet?

In [10]:
import pandas as pd
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
number_of_roles_in_hamlet_1921 = hamlet_1921_cast.shape[0]

print(f"The number of credited roles in the silent 1921 version of 'Hamlet' is: {number_of_roles_in_hamlet_1921}")

The number of credited roles in the silent 1921 version of 'Hamlet' is: 9

# How many "Hamist roles have been listed in all im credits through history?

In [11]:
import pandas as pd
hamlet_roles = cast[cast['character'].str.contains('Hamlet', case=False, na=False)]

total_hamlet_roles = hamlet_roles.shape[0]

print(f"The total number of 'Hamlet' roles listed in IMDb credits through history is: {total_hamlet_roles}")

The total number of 'Hamlet' roles listed in IMDb credits through history is: 178

# how many people have played an "Ophelia"?

In [12]:
import pandas as pd
ophelia_roles = cast[cast['character'] == 'Ophelia']

# Count the number of unique actors who have played "Ophelia"
unique_ophelia_actors = ophelia_roles['name'].nunique()

print(f"The number of people who have played the character 'Ophelia' is: {unique_ophelia_actors}")

The number of people who have played the character 'Ophelia' is: 115

# How many people have played a role called "The Dude"?

In [13]:
import pandas as pd
the_dude_roles = cast[cast['character'] == 'The Dude']
unique_the_dude_actors = the_dude_roles['name'].nunique()

print(f"The number of people who have played the character 'The Dude' is: {unique_the_dude_actors}")

The number of people who have played the character 'The Dude' is: 19

# How many people have played a role calles"The Stranger"?

In [14]:
import pandas as pd
the_stranger_roles = cast[cast['character'] == 'The Stranger']

# Count the number of unique actors who have played "The Stranger"
unique_the_stranger_actors = the_stranger_roles['name'].nunique()

print(f"The number of people who have played the character 'The Stranger' is: {unique_the_stranger_actors}")

The number of people who have played the character 'The Stranger' is: 202

# How many roles has Sidney Poitier played throughout his career?

In [15]:
import pandas as pd
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']

number_of_roles_played_by_sidney_poitier = sidney_poitier_roles['character'].nunique()

print(f"Sidney Poitier has played {number_of_roles_played_by_sidney_poitier} roles throughout his career.")

Sidney Poitier has played 41 roles throughout his career.

# How many roles has Judi Dench played?

In [16]:
import pandas as pd
judi_dench_roles = cast[cast['name'] == 'Judi Dench']

# Count the number of unique characters she has portrayed
number_of_roles_played_by_judi_dench = judi_dench_roles['character'].nunique()

print(f"Judi Dench has played {number_of_roles_played_by_judi_dench} roles throughout her career.")

Judi Dench has played 46 roles throughout her career.

# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [17]:
import pandas as pd
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')

print(cary_grant_supporting_roles_1940s_sorted[['character', 'year']])

          character  year
871423   Nick Arden  1940
871433  Roger Adams  1941

# List the leading roles that Cary Grant played in the 1940s in orderby year

In [18]:
import pandas as pd
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')
print(cary_grant_leading_roles_1940s_sorted[['character', 'year']])

                                   character  year
871448                           Matt Howard  1940
871407                          Walter Burns  1940
871450                    C. K. Dexter Haven  1940
871438                      Johnnie Aysgarth  1941
871452                          Leopold Dilg  1942
871429                 Patrick 'Pat' O'Toole  1942
871398                         Capt. Cassidy  1943
871422  Joe Adams -posing as Joe Bascopolous  1943
871430                           Jerry Flynn  1944
871390                     Mortimer Brewster  1944
871425                            Ernie Mott  1944
871424                           Cole Porter  1946
871427                                Devlin  1946
871444                           Dick Nugent  1947
871445                                Dudley  1947
871421                         Jim Blandings  1948
871402                     Dr. Madison Brown  1948
871411                 Captain Henri Rochard  1949

# How many roles were available for actors in the 1950s?

In [19]:
import pandas as pd
roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]
number_of_roles_in_1950s = roles_in_1950s.shape[0]

print(f"The number of roles available for actors in the 1950s is: {number_of_roles_in_1950s}")

The number of roles available for actors in the 1950s is: 215471

# How many roles were available for actresses in the 1950s?

In [20]:
import pandas as pd
actress_roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actress')]
number_of_actress_roles_in_1950s = actress_roles_in_1950s.shape[0]

print(f"The number of roles available for actresses in the 1950s is: {number_of_actress_roles_in_1950s}")

The number of roles available for actresses in the 1950s is: 57733

# How many leading roles (n=1) were available from the beginning of film history through 19807

In [21]:
import pandas as pd
leading_roles_through_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]

# Count the number of leading roles available from the beginning of film history through 1980
number_of_leading_roles_through_1980 = leading_roles_through_1980.shape[0]

print(f"The number of leading roles (n=1) available from the beginning of film history through 1980 is: {number_of_leading_roles_through_1980}")

The number of leading roles (n=1) available from the beginning of film history through 1980 is: 65140

# How many non leading roles were available through from the beginning of film history through 1980

In [22]:
import pandas as pd
non_leading_roles_through_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]
number_of_non_leading_roles_through_1980 = non_leading_roles_through_1980.shape[0]

print(f"The number of non-leading roles (n not equal to 1) available from the beginning of film history through 1980 is: {number_of_non_leading_roles_through_1980}")

The number of non-leading roles (n not equal to 1) available from the beginning of film history through 1980 is: 1117667

# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [24]:
import pandas as pd
minor_roles_through_1980 = cast[(cast['n'].isna()) | (cast['n'] == '') & (cast['year'] <= 1980)]
number_of_minor_roles_through_1980 = minor_roles_through_1980.shape[0]

print(f"The number of roles through 1980 that were minor enough to not warrant a numeric 'n' rank is: {number_of_minor_roles_through_1980}")

The number of roles through 1980 that were minor enough to not warrant a numeric 'n' rank is: 1458573