# Manipulate usinga list

In [18]:
list = [34,78,"python","$389",5823]
list

[34, 78, 'python', '$389', 5823]

In [19]:
list.append("day1")
print(list)

[34, 78, 'python', '$389', 5823, 'day1']

In [20]:
list.reverse()
print(list)

['day1', 5823, '$389', 'python', 78, 34]

In [22]:
list

['day1', 5823, '$389', 'python', 78, 34]

In [16]:
list = [34,78,"python","$389",5823]
new_item =5
list_item = list * new_item
print(list_item)

[34, 78, 'python', '$389', 5823, 34, 78, 'python', '$389', 5823, 34, 78, 'python', '$389', 5823, 34, 78, 'python', '$389', 5823, 34, 78, 'python', '$389', 5823]

In [24]:
list

['day1', 5823, '$389', 'python', 78, 34]

In [27]:
list2 = [56,89,456,"welcome",789]
list2

[56, 89, 456, 'welcome', 789]

In [28]:
concate = list + list2
print(concate)

['day1', 5823, '$389', 'python', 78, 34, 56, 89, 456, 'welcome', 789]

In [61]:
lst =[3,7,90,134,9,56,0]
lst.sort()
print(lst)

[0, 3, 7, 9, 56, 90, 134]

# Programs to do in the tuples

In [29]:
tup =(345,9898,"mphasis","domain_aiml",630)
tup

(345, 9898, 'mphasis', 'domain_aiml', 630)

In [30]:
tup[3]

'domain_aiml'

In [31]:
len(tup)

5

In [38]:
a=6
new = tup+(a,)
print(new)

(345, 9898, 'mphasis', 'domain_aiml', 630, 6)

In [42]:
new

(345, 9898, 'mphasis', 'domain_aiml', 630, 6)

In [41]:
reverse = tup[::-1]
print(reverse)

(630, 'domain_aiml', 'mphasis', 9898, 345)

In [15]:
tup =(345,9898,"mphasis","domain_aiml",630)
new_item = 5
new_tuple =  tup * new_item
print(new_tuple)

(345, 9898, 'mphasis', 'domain_aiml', 630, 345, 9898, 'mphasis', 'domain_aiml', 630, 345, 9898, 'mphasis', 'domain_aiml', 630, 345, 9898, 'mphasis', 'domain_aiml', 630, 345, 9898, 'mphasis', 'domain_aiml', 630)

In [65]:
add_tuple =(56,98,32)
add_tuple

(56, 98, 32)

In [66]:
concate = tup + add_tuple
print(concate)

(345, 9898, 'mphasis', 'domain_aiml', 630, 56, 98, 32)

In [68]:
tuples = [45,67,89,234,70,5,20,1,30]
tuples.sort()
print(tuples)

[1, 5, 20, 30, 45, 67, 70, 89, 234]

# python program to implement the following using list

In [69]:
tupe =(67,89,90,10,20,30,40,50,60,70)
type(tupe)

tuple

In [75]:
last_element =tupe[-1]
print(last_element)

70

In [78]:
select_values =tupe[0:4]
print(select_values)

(67, 89, 90, 10)

In [79]:
select_values = tupe[2:]
print(select_values)

(90, 10, 20, 30, 40, 50, 60, 70)

In [80]:
select_values = tupe[:6]
print(select_values)

(67, 89, 90, 10, 20, 30)

# write apython program: tuple1(10,50,20,40,30)

In [81]:
tuple1 = (10,50,20,40,30)
tuple1

(10, 50, 20, 40, 30)

In [82]:
select_values = tuple1[:2]
print(select_values)

(10, 50)

In [83]:
length = len(tuple1)
print(length)

5

In [86]:
min= tuple1[1]
for i in tuple1:
    if i<min:
        min=i
        print(min)

10

In [2]:
tuple1 = (10,50,20,40,30)
sum = tuple1[0]
for i in tuple1:
    sum = sum + i
    print(sum)

20
70
90
130
160

In [6]:
tuple1 =  (10,50,20,40,30)
tuple1

(10, 50, 20, 40, 30)

In [7]:
times_to_repeat = 3
result_tuple = tuple1 * times_to_repeat
print(result_tuple)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. python program

In [21]:
string = "hello world"
string

'hello world'

length = len(string)
print(length)

In [25]:
reverse_string = string[::-1]
print(reverse_string)

dlrow olleh

In [28]:
string = "hello world"
time_to_repeat = 3
result_tuple = string * time_to_repeat
print(result_tuple)

hello worldhello worldhello world

In [29]:
string1 = "hello"
string2 ="world"
result_tuple = string1+string2
print(result_tuple)

helloworld

In [30]:
str1 = "south india"
select_string = str1[6:]
print(select_string)

india

# 6.perform the following

In [4]:
student = {
    'name': 'Alice',
    'age': 20,
    'grade': 'A'
}
print(student['name'])  # Output: 'Alice'
print(student['age'])   # Output: 20
print(student['grade']) # Output: 'A'

In [6]:
for key, value in student.items():
    print(f'{key}: {value}')

name: Alice
age: 20
grade: A

In [7]:
update_dict={'name': 'Alice',
    'age': 20,
    'grade': 'A','place':'newyork'}
print(student)
print(update_dict)

{'name': 'Alice', 'age': 20, 'grade': 'A'}
{'name': 'Alice', 'age': 20, 'grade': 'A', 'place': 'newyork'}

In [12]:
del student['name']
print(student)

{'grade': 'A'}

In [13]:
student.clear()
print(student)

{}

# 7. python program to insert a number to any position in a list

In [14]:
list = [1, 2, 3, 4, 5]
number_to_insert = 10
position = 2  
if 0 <= position <= len(my_list):
    my_list.insert(position, number_to_insert)
    print(f"Number {number_to_insert} inserted at position {position}.")
    print("Updated List:", my_list)
else:
    print("Invalid position. Please choose a valid index.")

Number 10 inserted at position 2.
Updated List: [1, 2, 10, 3, 4, 5]

# 8.python program to delete an element from a list by index

In [17]:
my_list = [1, 42, 3, 4, 5]
index_to_delete = 2
if 0 <= index_to_delete < len(my_list):
    del my_list[index_to_delete]
    print("Element deleted successfully.")
else:
    print("Invalid index. Element not deleted.")
print(my_list)

Element deleted successfully.
[1, 42, 4, 5]

# 9.write a program to display a number from 1 to 100

In [23]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# 10.python program to find the sum of all items in a tuple

In [24]:
list=[7,3,6,89,1,4,5]
sum=0
for i in list:
    sum+=i
print(sum)

115

# 11.Create a dictionary containing three lambda functions square, cube and square root.

Eg. dict('Square: function for squaring, 'Cube: function for cube, 'Squareroot":

function for square root)

Pass the values (input from the user) to the functions in the dictionary respectively.

Then add the outputs of each function and print it.

In [41]:
# Define the dictionary with lambda functions
functions_dict = {
    'Square': lambda x: x**2,
    'Cube': lambda x: x**3,
    'SquareRoot': lambda x: x**0.5
}

# Get user input
try:
    num = float(input("Enter a number: "))
except ValueError:
    print("Invalid input. Please enter a valid number.")
    exit()

# Initialize a variable to store the sum of results
total = 0

# Apply the functions and accumulate the results
for function_name, function in functions_dict.items():
    result = function(num)
    total += result
    print(f"{function_name}: {result}")

# Print the total sum of the results
print(f"Sum of the results: {total}")

Enter a number: 5
Square: 25.0
Cube: 125.0
SquareRoot: 2.23606797749979
Sum of the results: 152.2360679774998

# 12.A list of words is given. Find the words from the list that have their second character in uppercasets=['hello', 'Dear, 'how', 'ARe", "You']

In [42]:
ts = ['hello', 'Dear', 'how', 'ARe', 'You']
result_words = [word for word in ts if len(word) > 1 and word[1].isupper()]
print(result_words)

['ARe']

# 13.A dictionary of names and their weights on earth is given. Find how much they will weigh on themoon. (Use map and lambda functions) Formula: wMoon = (wEarth GMoon)/GEarth0
Weight of people in kg.
WeightOnEarth (John:45, 'Shelly':65, Marry:35)
#Gravitational force on the Moon: 1.622 m/s2
GMoon=1.622
Gravitational force on the Earth: 9.81 m/s2GEarth-9.81

In [43]:
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81
WeightOnMoon = dict(map(lambda item: (item[0], (item[1] * GMoon) / GEarth), WeightOnEarth.items()))
for name, weight_moon in WeightOnMoon.items():
    print(f"{name}'s weight on the Moon: {weight_moon} kg")

John's weight on the Moon: 7.440366972477065 kg
Shelly's weight on the Moon: 10.747196738022426 kg
Marry's weight on the Moon: 5.786952089704383 kg

# Control structure

# 1.Write a python program to find the first N Prime numbers

In [45]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def find_first_n_primes(N):
    prime_list = []
    num = 2
    while len(prime_list) < N:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return prime_list

N = int(input("Enter the value of N: "))
prime_numbers = find_first_n_primes(N)
print(f"The first {N} prime numbers are:")
print(prime_numbers)

Enter the value of N: 6
The first 6 prime numbers are:
[2, 3, 5, 7, 11, 13]

# 2.Write the python code that calculates the salary of an employee. Prompt the user to enter theBasic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary

In [46]:

basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print(f"Gross Salary: {gross_salary}")
print(f"Tax Deducted: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 3000
Enter HRA: 67.78
Enter TA: 56.23
Enter DA: 12.09
Gross Salary: 3136.1000000000004
Tax Deducted: 313.61000000000007
Net Salary: 2822.4900000000002

# 3.Write a python program to search for a string in the given list.

In [48]:
def search_string_in_list(search_str, my_list):
    for item in my_list:
        if search_str in item:
            return True
    return False
my_list = ["apple", "banana", "cherry", "date"]
search_str = "orange"

if search_string_in_list(search_str, my_list):
    print(f"{search_str} found in the list.")
else:
    print(f"{search_str} not found in the list.")

orange not found in the list.

# 4.Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [49]:
def count_upper_lower(input_string):
    upper_count = 0
    lower_count = 0

    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count
input_str = "Hello World"
upper, lower = count_upper_lower(input_str)
print(f"Uppercase letters: {upper}")
print(f"Lowercase letters: {lower}")

Uppercase letters: 2
Lowercase letters: 8

# 5.Write a program to display the sum of odd numbers and even numbers that fall between 12 and37.

In [50]:
odd_sum = 0
even_sum = 0
for number in range(12, 38):
    if number % 2 == 0:
        even_sum += number  # Add even numbers to even_sum
    else:
        odd_sum += number   # Add odd numbers to odd_sum
print(f"Sum of even numbers between 12 and 37: {even_sum}")
print(f"Sum of odd numbers between 12 and 37: {odd_sum}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6.Write a python Program to print the table of any number.

In [51]:
number = int(input("Enter a number: "))
table_range = 10
print(f"Multiplication table for {number}:")

for i in range(1, table_range + 1):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 7
Multiplication table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# 7.Write a Python program to sum the first 10 prime numbers.

In [52]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_10_primes():
    prime_count = 0
    num = 2
    prime_sum = 0

    while prime_count < 10:
        if is_prime(num):
            prime_sum += num
            prime_count += 1
        num += 1

    return prime_sum

result = sum_first_10_primes()
print("Sum of the first 10 prime numbers:", result)

Sum of the first 10 prime numbers: 129

# 8.Write a python program to implement arithmetic operations using nested if statement

In [53]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")
if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 == 0:
        print("Error: Division by zero is not allowed.")
    else:
        result = num1 / num2
else:
    print("Invalid operation")

if operation in ("+", "-", "*", "/"):
    print("Result:", result)

Enter the first number: 678.90
Enter the second number: 56.8932
Enter the operation (+, -, *, /): *
Result: 38624.79348

# 9.Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [54]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 45
45.0 degrees Celsius is equal to 113.0 degrees Fahrenheit.

# 10.Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [55]:
def find_max_min(numbers):
    if not numbers:
        return None, None
    max_num = numbers[0]
    min_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
        if num < min_num:
            min_num = num

    return max_num, min_num

numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
max_value, min_value = find_max_min(numbers)

if max_value is not None and min_value is not None:
    print("Maximum value:", max_value)
    print("Minimum value:", min_value)
else:
    print("The list is empty.")

Maximum value: 9
Minimum value: 1

# 11.Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hoursin a day, 60 minutes per day, 60 seconds in a minute.

In [56]:
days = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60
total_seconds = days * hours_per_day * minutes_per_hour * seconds_per_minute
print(f"There are {total_seconds} seconds in a {days}-day month.")

There are 2592000 seconds in a 30-day month.

# 12.Write a program in python to print out the number of seconds in a year.

In [57]:
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24
days_per_year = 365
seconds_per_day = seconds_per_minute * minutes_per_hour * hours_per_day
total_seconds = days_per_year * seconds_per_day
print(f"There are {total_seconds} seconds in a year (without considering leap years).")
leap_year_seconds = 86_400  # 86,400 seconds in a leap year
total_seconds_leap_year = (days_per_year // 4) * leap_year_seconds + (days_per_year // 4 - 1) * leap_year_seconds
print(f"There are {total_seconds_leap_year} seconds in a year (considering leap years).")

There are 31536000 seconds in a year (without considering leap years).
There are 15638400 seconds in a year (considering leap years).

# 13.A high-speed train can travel at an average speed of 150 mph, how long will it take a traintravelling at this speed to travel from London to Glasgow which is 414 miles away?

In [58]:
distance = 414  # miles
speed = 150     # mph
time_hours = distance / speed
time_minutes = time_hours * 60
print(f"It will take approximately {time_minutes:.2f} minutes for the train to travel from London to Glasgow.")

It will take approximately 165.60 minutes for the train to travel from London to Glasgow.

# 14.Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [59]:
days_in_each_school_year = 192
school_years = range(7, 12)
total_hours = 0
for year in school_years:
    total_hours += year * days_in_each_school_year * 6
print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

Total hours spent in school from year 7 to year 11: 51840 hours

# 15.If the age of Ram,Sam and Khan are input through the keyboard,write a python program todetermine the eldest and youngest of the three.

In [60]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"
print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter Ram's age: 45
Enter Sam's age: 76
Enter Khan's age: 34
The eldest among Ram, Sam, and Khan is: Sam
The youngest among Ram, Sam, and Khan is: Khan

# 16.Write a python program to rotate a list by right in times with and without slicing technique

In [61]:
def rotate_list_right_with_slicing(input_list, n):
    # Check if the list is empty or n is non-positive
    if not input_list or n <= 0:
        return input_list
    
    n = n % len(input_list)  # Ensure n is within the length of the list
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list

def rotate_list_right_without_slicing(input_list, n):
    # Check if the list is empty or n is non-positive
    if not input_list or n <= 0:
        return input_list
    
    n = n % len(input_list)  
    rotated_list = [0] * len(input_list)
    
    for i in range(len(input_list)):
        rotated_list[(i + n) % len(input_list)] = input_list[i]
    
    return rotated_list
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list_slicing = rotate_list_right_with_slicing(my_list, n)
print("Rotated list using slicing:", rotated_list_slicing)
rotated_list_no_slicing = rotate_list_right_without_slicing(my_list, n)
print("Rotated list without slicing:", rotated_list_no_slicing)

Rotated list using slicing: [4, 5, 1, 2, 3]
Rotated list without slicing: [4, 5, 1, 2, 3]

# 17.Python program to print the patterns given below:
    
1
11

121

1331

14641

15101051

1615201561

In [69]:
def generate_pascals_triangle(n):
    triangle = []
    for i in range(n):
        row = [1] 
        
        if triangle:
            last_row = triangle[-1]
            row.extend([last_row[j - 1] + last_row[j] for j in range(1, i)])
            row.append(1)  
        triangle.append(row)
    return triangle
n = 7 
pascals_triangle = generate_pascals_triangle(n)
for row in pascals_triangle:
    print(" ".join(map(str, row)))

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
     * 
    * * 
   * * * 
  * * * * 
 * * * * * 
* * * * * * *

In [67]:
n = 6  # Change this value to adjust the number of rows in the pyramid

for i in range(1, n + 1):
    # Print spaces before the asterisks
    print(" " * (n - i), end="")
    
    # Print asterisks for this row
    print("* " * i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
*         
* *       
* * *     
* * * *   
* * * * *

In [37]:
def star():
    for i in range(0, 5):
        for j in range(0, 5):
            if i >= j:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

star()

*
* *
* * *
* * * *
* * * * *

In [ ]:
P
Py
Pyt
Pyth
Pytho
Python

In [65]:
word = "python"

for i in range(1, len(word) + 1):
    print(word[:i])

p
py
pyt
pyth
pytho
python