In [5]:
import mysql.connector
conn=mysql.connector.connect(user='root',
                             password='Supriya@161148',
                             host='127.0.0.1',
                             database='python_db')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000206E173F890>

In [6]:
curs=conn.cursor()
curs

# 1.Implement Inventory Management in Python with MySQL

a) Inventory management, a critical element of the supply chain, is the tracking of

inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time. b) The required Database is Inventory, and the required Tables are Purchases, Sales and

Inventory

c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [19]:

purchase_table='''

create table purchase(purchase_id int primary key ,product_name varchar(50) not null,
quantity int not null,purchase_date date not null)

'''
curs.execute(purchase_table)

ProgrammingError: 1050 (42S01): Table 'purchase' already exists

In [17]:
curs.execute(purchase_table)

ProgrammingError: 1050 (42S01): Table 'purchase' already exists

In [22]:
sales_table=''' 
create table sales(sales_id int auto_increment primary key,product_name varchar(50)
not null,quantity int not null, sale_date date not null)
'''
curs.execute(sales_table)

In [26]:
inventory_table='''
create table inventory(inverty_id int auto_increment primary key,product_name varchar(50)
not null,quantity int not null)
'''
curs.execute(inventory_table)

In [24]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('book_db',)
('department_db',)
('employee',)
('information_schema',)
('job_db',)
('location_db',)
('mysql',)
('performance_schema',)
('python_db',)
('sakila',)
('shirt_db',)
('sys',)
('world',)

In [27]:
curs.execute("show tables")
for i in curs:
    print(i)

('inventory',)
('inverty',)
('purchase',)
('sales',)

In [39]:
cus_insert="insert into purchase(purchase_id,product_name,quantity,purchase_date)values(%s,%s,%s,%s)"
cus_val=[(101,"product a",2,"2023-9-12"),
         (102,"product b",4,"2023-8-11"),
         (103,"product c",6,"2023-10-25"),
         (104,"product d",7,"2023-11-30"),
         (105,"product e",1,"2023-3-3")
        ]
curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'is inserted now')

5 is inserted now

In [40]:
cus_insert="insert into sales(sales_id,product_name,quantity,sale_date)values(%s,%s,%s,%s)"
cus_val=[(111,"sale a",15,"2022-9-19"),
         (112,"sale b",20,"2022-1-1"),
         (113,"sale c",2,"2022-5-25"),
         (114,"sale d",10,"2022-8-14"),
         (115,"sale e",100,"2022-12-12")
        ]
curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'is inserted now')

5 is inserted now

In [41]:
cus_insert="insert into inventory(inverty_id,product_name,quantity)values(%s,%s,%s)"
cus_val=[(121,"inverty a",10),
         (122,"inverty b",20),
         (123,"inverty c",12)
        
        ]
curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'is inserted now')

3 is inserted now

In [42]:
curs.execute("select * from purchase")
result=curs.fetchall()
for i in result:
    print(i)

(101, 'product a', 2, datetime.date(2023, 9, 12))
(102, 'product b', 4, datetime.date(2023, 8, 11))
(103, 'product c', 6, datetime.date(2023, 10, 25))
(104, 'product d', 7, datetime.date(2023, 11, 30))
(105, 'product e', 1, datetime.date(2023, 3, 3))

In [44]:
sql="update inventory set product_name='inverty a' where quantity=10 "
curs.execute(sql)
conn.commit()
print(curs.rowcount,'rocord(s) updated')

0 rocord(s) updated

In [50]:
curs.execute("alter table purchase add column rating decimal not null ")

In [51]:
curs.execute("select * from purchase")
result=curs.fetchall()
for i in result:
    print(i)

(101, 'product a', 2, datetime.date(2023, 9, 12), Decimal('0'))
(102, 'product b', 4, datetime.date(2023, 8, 11), Decimal('0'))
(103, 'product c', 6, datetime.date(2023, 10, 25), Decimal('0'))
(104, 'product d', 7, datetime.date(2023, 11, 30), Decimal('0'))
(105, 'product e', 1, datetime.date(2023, 3, 3), Decimal('0'))

In [52]:
sql="delete from purchase where product_name like '%product a%'"
curs.execute(sql)
conn.commit()
print(curs.rowcount,"record(s)deleted")

1 record(s)deleted

# 2.Customer Order Processing Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and orderdetails

1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders. 2. Write a Python program that connects to the database and allows customers to place

new orders

3. Implement a feature that calculates the total cost of an order and updates product

quantities in the database. 4. How would you handle cases where a product is no longer available when a customer places an order?

5. Develop a function to generate order reports for the company's finance department.

In [29]:
import mysql.connector
conn=mysql.connector.connect(user='root',
                            password='Supriya@161148',
                            host='127.0.0.1',
                            database='orders_processing')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022E074C4890>

In [ ]:
curs=conn.cursor()

In [30]:
curs

In [34]:
customer_table='''

CREATE TABLE customers (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100) UNIQUE,
    phone VARCHAR(15),
    address VARCHAR(100))
    
    
'''
curs.execute(customer_table)

In [35]:
product_table='''
CREATE TABLE products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    product_name VARCHAR(100),
    description TEXT,
    price DECIMAL(10, 2),
    stock_quantity INT)
'''
curs.execute(product_table)

In [36]:
order_table='''
CREATE TABLE orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    status ENUM('Pending', 'Processing', 'Shipped', 'Delivered', 'Cancelled'),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id))
'''
curs.execute(order_table)

In [37]:
order_details='''
CREATE TABLE order_details (
    order_detail_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    total_price DECIMAL(10, 2),
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
)

'''
curs.execute(order_details)

In [21]:
import mysql.connector
conn=mysql.connector.connect(user='root',
                            password='Supriya@161148',
                            host='127.0.0.1',
                            database='order_process')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021A2EF2CD10>

In [23]:
curs=conn.cursor()

In [24]:
curs

In [25]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('book_db',)
('department_db',)
('employee',)
('employee_management',)
('information_schema',)
('job_db',)
('location_db',)
('mysql',)
('order_process',)
('orders_processing',)
('performance_schema',)
('python_db',)
('sakila',)
('shirt_db',)
('sys',)
('world',)

In [26]:
curs.execute("show tables")
for i in curs:
    print(i)

('customers',)
('order_details',)
('orders',)
('process',)
('products',)

In [38]:
import mysql.connector

# Database connection configuration
db_config = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': 'Supriya@161148',
    'database': 'order_process'
}

# Function to display available products
def display_products(cursor):
    cursor.execute("SELECT * FROM products")
    products = cursor.fetchall()

    print("Available Products:")
    print("Product ID | Product Name | Price |  Stock_Quantity")
    print("-----------------------------------------------")
    for product in products:
        print(f"{product[0]:<11} | {product[1]:<12} | {product[2]:<5} | {product[3]:<14}")

# Function to place a new order
def place_order(cursor):
    display_products(cursor)
    customer_id = int(input("Enter your customer ID: "))
    product_id = int(input("Enter the product ID you want to order: "))
    quantity = int(input("Enter the quantity: "))

    # Check if the product is available in stock
    cursor.execute("SELECT stock_quantity FROM products WHERE product_id = %s", (product_id,))
    stock_quantity = cursor.fetchone()

    if stock_quantity and stock_quantity[0] >= quantity:
        # Calculate total price
        cursor.execute("SELECT price FROM products WHERE product_id = %s", (product_id,))
        price = cursor.fetchone()[0]
        total_price = price * quantity

        # Insert order into the database
        cursor.execute(
            "INSERT INTO order_details (order_id, product_id, quantity, total_price) VALUES (%s, %s, %s, %s)",
            (customer_id, product_id, quantity, total_price)
        )
        print("Order placed successfully!")
    else:
        print("Product not available in sufficient quantity.")

if __name__ == "__main__":
    try:
        # Connect to the database
        conn = mysql.connector.connect(**db_config)
        cursor = conn.cursor()

        while True:
            print("\nOptions:")
            print("1. Place an order")
            print("2. Exit")
            choice = input("Enter your choice: ")

            if choice == "1":
                place_order(cursor)
                conn.commit()
            elif choice == "2":
                break
            else:
                print("Invalid choice. Please try again.")

    except mysql.connector.Error as e:
        print(f"Error: {e}")
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

Options:
1. Place an order
2. Exit
Enter your choice: 1
Available Products:
Product ID | Product Name | Price | Stock Quantity
-----------------------------------------------
Enter your customer ID: 101
Enter the product ID you want to order: 101
Enter the quantity: 45
Product not available in sufficient quantity.

Options:
1. Place an order
2. Exit
Enter your choice: 2

In [30]:
import mysql.connector

# Connect to the MySQL database
db_connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Supriya@161148",
    database="order_process"
)

# Create a cursor object to execute SQL queries
curs = db_connection.cursor()

def place_order(customer_id, product_id, quantity):
    try:
        # Check if the product is available
        curs.execute("SELECT price FROM products WHERE product_id = %s", (product_id,))
        result = curs.fetchone()
        if result and result[0] >= quantity:
            # Calculate the total cost
            curs.execute("SELECT price FROM products WHERE product_id = %s", (product_id,))
            price = cursor.fetchone()[0]
            total_cost = price * quantity
            
            # Insert into orders table
            curs.execute("INSERT INTO orders (customer_id) VALUES (%s)", (customer_id,))
            order_id = cursor.lastrowid
            
            # Insert into orderdetails table
            curs.execute("INSERT INTO orderdetails (order_id, product_id, quantity) VALUES (%s, %s, %s)", (order_id, product_id, quantity))
            
            # Update product quantity
            curs.execute("UPDATE products SET stock_quantity = stock_quantity - %s WHERE product_id = %s", (quantity, product_id))
            
            # Commit the transaction
            db_connection.commit()
            
            print(f"Order placed successfully. Total cost: ${total_cost}")
        else:
            print("Product is not available in sufficient quantity.")
    except Exception as e:
        print(f"Error: {str(e)}")

# Usage
customer_id = 1  # Replace with the actual customer ID
product_id = 1   # Replace with the actual product ID
quantity = 3     # Replace with the desired quantity
place_order(customer_id, product_id, quantity)

# Close the database connection when done
db_connection.close()

Product is not available in sufficient quantity.

In [20]:
import mysql.connector
conn=mysql.connector.connect(user='root',
                            password='Supriya@161148',
                            host='127.0.0.1',
                            database='order_process')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B2BE89B690>

In [21]:
curs=conn.cursor()

In [22]:
curs

Product not available or insufficient quantity.

NameError: name 'db_connection' is not defined

# 3.You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task

Instructions:

1. Assume that you have a MySQL database server running with the following details:

L Host localhost Port: 3306

Username: your username iv. Password your password

V. Database Name your database

v. Table Name your table

vi. The table has the following columns: id (int), name (varchar),

Quantity (int). program should Python

Connect to the MySQL database

4 Retrieve all records from the your table table. Calculate the total quantity of all records retrieved.

v. Update the quantity column of each record by doubling its value.

Commit the changes to the database

Close the database connection

1. Handle any potential errors that may occur during the database connection and data manipulation, such as connection failures or SQL errors. 4. Provide comments in your code to explain each step

In [49]:
import mysql.connector
conn=mysql.connector.connect(user='root',
                            password='Supriya@161148',
                            host='127.0.0.1',
                            database='order_process')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022E06E8FD50>

In [50]:
curs=conn.cursor()
curs

In [52]:
process_table='''

create table process(id int primary key,name varchar(50),quantity int)

'''
curs.execute(process_table)

ProgrammingError: 1050 (42S01): Table 'process' already exists

In [54]:
import mysql.connector
from mysql.connector import Error

# Database connection details
db_config = {
    "host": "localhost",
    "port": 3306,
    "user": "root",
    "password": "Supriya@161148",
    "database": "order_process"
}

try:
    # Connect to the MySQL database
    connection = mysql.connector.connect(**db_config)

    if connection.is_connected():
        print("Connected to the MySQL database")

        # Retrieve all records from the table and calculate the total quantity
        curs = connection.cursor()
        curs.execute("SELECT id, name, Quantity FROM process ")
        records = curs.fetchall()

        total_quantity = 0
        for record in records:
            id, name, quantity = record
            total_quantity += quantity

        print(f"Total Quantity before update: {total_quantity}")

        # Update the quantity column by doubling its value
        curs.execute("UPDATE process SET Quantity = Quantity * 2")
        connection.commit()
        print("Quantity values updated successfully")

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        curs.close()
        connection.close()
        print("Database connection closed")

Connected to the MySQL database
Total Quantity before update: 0
Quantity values updated successfully
Database connection closed

# 4.You are developing an employe managemnt system for a company.the database should store employee Information, Including name, salary departmen view and update employee details. company. The database should store hire date. Manages should be able to

1. Design the database schema for the employee management system. 2. Write Python code to connect to the database and retrieve a list of employees in a

specific department.

3. Implement a feature to update an employee's salary.

In [56]:
import mysql.connector
conn=mysql.connector.connect(user='root',
                            password='Supriya@161148',
                            host='127.0.0.1',
                            database='employee_management')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022E07D52650>

In [57]:
curs=conn.cursor()
curs

In [58]:
employee_details='''

CREATE TABLE employees (
    employee_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    salary DECIMAL(10, 2),
    department VARCHAR(50),
    hire_date DATE)

'''
curs.execute(employee_details)

In [59]:
import mysql.connector
from mysql.connector import Error

# Database connection details
db_config = {
    "host": "localhost",
    "port": 3306,
    "user": "root",
    "password": "Supriya@161148",
    "database": "employee_management"
}

def connect_to_database():
    try:
        # Connect to the MySQL database
        connection = mysql.connector.connect(**db_config)

        if connection.is_connected():
            print("Connected to the MySQL database")
            return connection

    except Error as e:
        print(f"Error: {e}")
        return None

def retrieve_employees_in_department(connection, department):
    try:
        cursor = connection.cursor()

        # Retrieve employees in a specific department
        query = "SELECT first_name, last_name, salary FROM employees WHERE department = %s"
        cursor.execute(query, (department,))
        employees = cursor.fetchall()

        if employees:
            print(f"Employees in {department} department:")
            for employee in employees:
                first_name, last_name, salary = employee
                print(f"{first_name} {last_name}, Salary: {salary}")
        else:
            print(f"No employees found in {department} department")

    except Error as e:
        print(f"Error: {e}")

def update_employee_salary(connection, employee_id, new_salary):
    try:
        cursor = connection.cursor()

        # Update an employee's salary
        query = "UPDATE employees SET salary = %s WHERE employee_id = %s"
        cursor.execute(query, (new_salary, employee_id))
        connection.commit()
        print("Employee's salary updated successfully")

    except Error as e:
        print(f"Error: {e}")

if __name__ == "__main__":
    connection = connect_to_database()
    if connection:
        department = "Sales"  # Change this to the desired department
        retrieve_employees_in_department(connection, department)
        
        employee_id_to_update = 1  # Replace with the employee_id you want to update
        new_salary = 60000  # Replace with the new salary
        update_employee_salary(connection, employee_id_to_update, new_salary)

        connection.close()
        print("Database connection closed")

Connected to the MySQL database
No employees found in Sales department
Employee's salary updated successfully
Database connection closed

# 1.Module Import and Management

Scenario: You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.

Design a Python program that demonstrates the following:

1. Import multiple modules within your project. 2. Use the import statement to access functions, classes, and variables from imported modules.

3. Create your custom module and use it in your main program. 4. Handle naming conflicts and ensure proper namespacing.

5. Implement error handling for missing modules or incorrect module usage.

In [ ]:
import math

def calculate_area(radius):
    return math.pi * radius**2

In [ ]:
def calculate_area(length, width):
    return length * width

In [ ]:
def calculate_area(base, height):
    return 0.5 * base * height

In [ ]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

In [ ]:
try:
    import circle
    import rectangle
    import triangle
    import my_math

    # Calculate area of a circle
    radius = 5
    circle_area = circle.calculate_area(radius)
    print(f"Circle area with radius {radius}: {circle_area:.2f}")

    # Calculate area of a rectangle
    length = 4
    width = 6
    rectangle_area = rectangle.calculate_area(length, width)
    print(f"Rectangle area with length {length} and width {width}: {rectangle_area:.2f}")

    # Calculate area of a triangle
    base = 3
    height = 8
    triangle_area = triangle.calculate_area(base, height)
    print(f"Triangle area with base {base} and height {height}: {triangle_area:.2f}")

    # Use functions from the custom module
    x = 10
    y = 5
    addition_result = my_math.add(x, y)
    subtraction_result = my_math.subtract(x, y)
    print(f"Addition: {addition_result}, Subtraction: {subtraction_result}")
except ImportError as e:
    print(f"Error importing module: {e}")

# 2.Virtual Environment Management Scenario: You are working on multiple Python projects with different dependencies and versions. To avoid conflicts and ensure project isolation, you decide to use virtual environments.

Create a Python program that demonstrates the following:

1. Create a virtual environment for a specific project.

2. Activate and deactivate virtual environments. 3. Install, upgrade, and uninstall packages within a virtual environment.

4. List the installed packages in a virtual environment.

5 Implement error handling for virtual environment operations.

In [ ]:
import os
import subprocess
import sys

def create_virtual_environment(venv_name):
    try:
        subprocess.run([sys.executable, '-m', 'venv', venv_name], check=True)
        print(f"Virtual environment '{venv_name}' created successfully.")
    except subprocess.CalledProcessError:
        print(f"Error creating virtual environment '{venv_name}'.")

def activate_virtual_environment(venv_name):
    try:
        activate_script = os.path.join(venv_name, 'Scripts' if sys.platform == 'win32' else 'bin', 'activate')
        subprocess.run([activate_script], shell=True, check=True)
        print(f"Activated virtual environment '{venv_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error activating virtual environment '{venv_name}'.")

def deactivate_virtual_environment():
    try:
        subprocess.run(['deactivate'], shell=True, check=True)
        print("Deactivated virtual environment.")
    except subprocess.CalledProcessError:
        print("Error deactivating virtual environment.")

def install_package(venv_name, package_name):
    try:
        subprocess.run([os.path.join(venv_name, 'Scripts' if sys.platform == 'win32' else 'bin', 'pip'), 'install', package_name], check=True)
        print(f"Package '{package_name}' installed successfully in '{venv_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error installing package '{package_name}' in '{venv_name}'.")

def upgrade_package(venv_name, package_name):
    try:
        subprocess.run([os.path.join(venv_name, 'Scripts' if sys.platform == 'win32' else 'bin', 'pip'), 'install', '--upgrade', package_name], check=True)
        print(f"Package '{package_name}' upgraded successfully in '{venv_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error upgrading package '{package_name}' in '{venv_name}'.")

def uninstall_package(venv_name, package_name):
    try:
        subprocess.run([os.path.join(venv_name, 'Scripts' if sys.platform == 'win32' else 'bin', 'pip'), 'uninstall', package_name, '-y'], check=True)
        print(f"Package '{package_name}' uninstalled successfully from '{venv_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error uninstalling package '{package_name}' from '{venv_name}'.")

def list_installed_packages(venv_name):
    try:
        result = subprocess.run([os.path.join(venv_name, 'Scripts' if sys.platform == 'win32' else 'bin', 'pip'), 'freeze'], stdout=subprocess.PIPE, text=True, check=True)
        print(f"Installed packages in '{venv_name}':\n{result.stdout}")
    except subprocess.CalledProcessError:
        print(f"Error listing installed packages in '{venv_name}'.")

if __name__ == "__main__":
    while True:
        print("\nOptions:")
        print("1. Create a virtual environment")
        print("2. Activate a virtual environment")
        print("3. Deactivate the current virtual environment")
        print("4. Install a package")
        print("5. Upgrade a package")
        print("6. Uninstall a package")
        print("7. List installed packages")
        print("8. Quit")

        choice = input("Enter your choice: ")

        if choice == '1':
            venv_name = input("Enter the name of the virtual environment: ")
            create_virtual_environment(venv_name)
        elif choice == '2':
            venv_name = input("Enter the name of the virtual environment: ")
            activate_virtual_environment(venv_name)
        elif choice == '3':
            deactivate_virtual_environment()
        elif choice == '4':
            venv_name = input("Enter the name of the virtual environment: ")
            package_name = input("Enter the name of the package to install: ")
            install_package(venv_name, package_name)
        elif choice == '5':
            venv_name = input("Enter the name of the virtual environment: ")
            package_name = input("Enter the name of the package to upgrade: ")
            upgrade_package(venv_name, package_name)
        elif choice == '6':
            venv_name = input("Enter the name of the virtual environment: ")
            package_name = input("Enter the name of the package to uninstall: ")
            uninstall_package(venv_name, package_name)
        elif choice == '7':
            venv_name = input("Enter the name of the virtual environment: ")
            list_installed_packages(venv_name)
        elif choice == '8':
            break
        else:
            print("Invalid choice. Please select a valid option.")

# 3.Module Dependency Resolution

Scenario: You are developing a Python application that relies on third-party packages. Managing dependencies and ensuring compatibility is crucial for your project's success.

Design a Python program that demonstrates the following:

1. Use a requirements.txt file to specify project dependencies. 2. Automatically install all project dependencies from the requirements.txt file.

3. Ensure that the versions of installed packages are compatible.

4. Implement error handling for dependency resolution and installation.

In [ ]:
import subprocess
import sys

def install_dependencies():
    try:
        # Install virtualenv if not already installed
        subprocess.run(["pip", "install", "virtualenv"])
        # Create a virtual environment named 'venv'
        subprocess.run(["python", "-m", "venv", "venv"])
        # Activate the virtual environment
        if sys.platform == "win32":
            activate_script = "venv\\Scripts\\activate"
        else:
            activate_script = "venv/bin/activate"
        subprocess.run([activate_script], shell=True)
        # Install project dependencies from requirements.txt
        subprocess.run(["pip", "install", "-r", "requirements.txt"])
        print("Dependencies installed successfully.")
    except Exception as e:
        print(f"An error occurred: {e}")
        sys.exit(1)

if __name__ == "__main__":
    install_dependencies()